<!-- <app-bai-tap1></app-bai-tap1> -->
<!-- <app-header class="header"></app-header>

<div class="contents">
  <app-content class="content"></app-content>
  <app-sidebar class="sidebar"></app-sidebar>
</div>

<app-footer class="footer"></app-footer>]

<button type="button" class="btn btn-primary">Primary</button> -->
<!-- <app-client></app-client> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directive></app-directive> -->
<!-- <app-interaction></app-interaction> -->
<button mat-button color="primary">Primary</button>
<app-modal></app-modal>
<router-outlet></router-outlet>