<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="#" class="navbar-brand">Navbar</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-iem">
                <a class="nav-link" routerLink="/danh-sach-phim">Danh sach phim</a>
            </li>
            <li class="nav-iem">
                <a class="nav-link" routerLink="/dang-ky">Dang Ky</a>
            </li>
            <li class="nav-iem">
                <a class="nav-link" routerLink="/dang-nhap">Dang nhap</a>
            </li>
            <li class="nav-iem">
                <a class="nav-link" routerLink="/pipes">Pipes</a>
            </li>
        </ul>
    </div>
</nav>