<div class="container">
    <h3>Đăng nhập</h3>
    <form #formDangNhap="ngForm" (ngSubmit)="DangNhap(formDangNhap.value)">
      <div class="form-group">
        
        <span>Tài khoản</span>
        <input class="form-control" #taiKhoan="ngModel" name="taiKhoan" ngModel required maxlength="10" />
        <div class="alert alert-danger " *ngIf="(taiKhoan.touched 
        || taiKhoan.dirty) && taiKhoan.errors">
        
        <span class="text text-danger" *ngIf="taiKhoan.errors.required " > Tài khoản không được rỗng</span>

        <!-- hoặc có thể thay formDangKy.controls['taiKhoan'] = taiKhoan. (add #taiKhoan ="ngModel" ở mục input) -->

        </div>
      </div>
      
      <div class="form-group">
        <span>Mật khẩu</span>
        <input type="password" #password="ngModel" minlength="4" maxlength="10" class="form-control" 
         name="matKhau" ngModel />
         <div class="alert alert-danger " *ngIf="(password.touched 
        || password.dirty) && password.errors">
        </div>
      </div>
      <button type="submit" class="btn btn-success">Đăng
        Nhập</button>
    </form>
    
  </div>


<router-outlet></router-outlet>