
.header {
  display: block;
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.contents {
  display: flex;
  .content {
    width: 70%;
    background-color: orange;
    text-align: center;
    color: #fff;
    padding: 100px;
  }
  .sidebar {
    width: 30%;
    background-color: green;
    text-align: center;
    color: #fff;
    padding: 100px;
  }
}

.footer {
  display: block;
  background-color: blue;
  color: #fff;
  text-align: center;
  padding: 20px;
}
